<div class="main-container">
  <div class="container">
    <app-header></app-header>

    <section id="header-section">
      <div class="row">
        <div class="col-lg-6 col-sm-12 pt-5 pb-5 yellow-section">
          <div class="_title">
            Lorem ipsum <span class="yellow-text">dolor</span> sit amet yo 👋
          </div>
          <div class="_list">
            <div class="_item_wrapper d-flex">
              <img src="./assets/avatar-1.png" alt="" />
              <div class="_item">
                <p>Andrew Schultz</p>
                <span
                  >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vitae, in tristique senectus dui pharetra sit.</span
                >
              </div>
            </div>
            <div class="_item_wrapper d-flex">
              <img src="./assets/Rectangle 61.png" alt="" />
              <div class="_item">
                <p>Andrew Schultz</p>
                <span
                  >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vitae, in tristique senectus dui pharetra sit.</span
                >
              </div>
            </div>
            <div class="_item_wrapper d-flex">
              <img src="./assets/Rectangle-61.png" alt="" />
              <div class="_item">
                <p>Andrew Schultz</p>
                <span
                  >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vitae, in tristique senectus dui pharetra sit.</span
                >
              </div>
            </div>
            <div class="_item_wrapper last d-flex"></div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 _right"></div>
      </div>
    </section>

    <section
      id="features-section"
      class="d-flex justify-content-between align-items-center"
    >
      <div class="_inner d-flex align-items-center">
        <img class="mr-3" src="./assets/Group 75.png" alt="" />
        <div>
          <p>24/7 Support</p>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        </div>
      </div>
      <div class="_inner d-flex align-items-center">
        <img class="mr-3" src="./assets/img (1).png" alt="" />
        <div>
          <p>1000+ of reviews</p>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        </div>
      </div>
      <div class="_inner d-flex align-items-center">
        <img class="mr-3" src="./assets/img.png" alt="" />
        <div>
          <p>And more!</p>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        </div>
      </div>
    </section>

    <section id="clients-section" class="mb-5 pb-5 pt-5 mt-5">
      <div class="main">
        <h2>Trusted By</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
          Vitae, in tristique senectus dui pharetra sit.
        </p>
      </div>
      <div class="client-slider pt-5 pb-5">
        <ngx-slick-carousel
          class="carousel"
          #slickModal="slick-carousel"
          [config]="slideConfig"
        >
          @for (slide of slides; track slide.img) {
          <div ngxSlickItem class="slide">
            <img src="{{ slide.img }}" alt="" width="100%" />
          </div>
          }
        </ngx-slick-carousel>
      </div>
    </section>

    <section id="registration-section" class="pt-5 mt-5">
      <div class="row">
        <div class="col-lg-6 col-sm-12 _left"></div>
        <div class="col-lg-6 col-sm-12 _right">
          <div class="registration-form">
            <h3>Registration Form</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, in
              tristique senectus dui pharetra sit.
            </p>
            <form (submit)="onSubmit($event)">
              <div class="input_field d-flex flex-column mb-3">
                <label for="name">Name</label>
                <input
                  type="text"
                  [(ngModel)]="formData.name"
                  placeholder="Enter your Name"
                  name="name"
                />
              </div>
              <div class="input_field d-flex flex-column mb-3">
                <label for="company">Company*</label>
                <input
                  type="text"
                  placeholder="Enter your Company"
                  [(ngModel)]="formData.company"
                  name="company"
                />
              </div>
              <div class="input_field d-flex flex-column mb-3">
                <label for="email">Email Address</label>
                <input
                  type="email"
                  placeholder="Enter your Email Address"
                  [(ngModel)]="formData.email"
                  name="email"
                />
              </div>
              <div class="registration-form-button">
                <button type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <app-footer></app-footer>
  </div>
</div>
